@media(max-device-width: 375px) { /*iphone X iphone 5/SE iphone*/
  .header_button{
    font-size: 2vh!important;
  }
  .header{
    height: 4.5%!important;
  }
  .header_con{
    /* transform: translate(-50%,0.5vh)!important; */
    transform: translate(0,0.5vh)!important;
  }
  .icons{
    transform: translate(55vw,-90%)!important;
    visibility: hidden;
  }
  .image{
    height: 30%!important;
    width: 30%!important;
    visibility: visible;
  }
  .logo{
    font-size: 5vw!important;
  }
  .vid{
    height: 50vh!important;
  }
  .social{
    margin-top: -3vw;
    font-size: 2.5vw!important;
  }
  table.credit_info,.cop{
    display: none;
  }
  .featured{
    margin-top: 5%!important; /*moet nog veranderd worden voor iphone de 5 6 !!!!!!!*/
    margin-bottom: 3vw;
    height: 22vh!important;
  }
  .buttons_{
    display: none;/*moet nog gefixt worden*/
  }
  .naam_film{
    font-size: 15vw;
  }
  .iphone{
    display: none;
  }
  .carousel{
    text-align: center;
  }
  .carousel-control-next{
    width: 2vw;
    left:84%!important;
    top: 2vh!important;
  }
  .carousel-control-pref{
    font-size: 3vw;
    left:90%;
    top: 5vw!important;
  }
  .movie{
    width: 27vw!important;
    height: 15vw!important;
  }
  .carousel-item{
    left: 0vw!important;
    height: 26vw!important;
    padding-top: 6vw!important;
  }
  .content{
    height: 23vh!important;
    top: -17.5vw!important;
  }
  .tag{
    left: -35vw!important;
    top: 5vw!important;
    font-size: 2.5vw!important;
  }
  .naam_film{
    font-size: 7vw;
  }
}
