body{
  font-family: 'Staatliches'; /*font*/
  margin: 0;
  background-color: #141414;
  height: 750px;
  width: 100vw;
  overflow-x: hidden;
}
html{
  background-color: #141414;
}
video{
  object-fit: cover;
}
a{
  color: #6F6F6F;
  width: 200px;
  text-decoration: none;
  margin-left: 100px;
}
a:hover{
  text-decoration: underline;
}
td{
  height: 30px;
}
a:hover{
  color: inherit;
}
button.service{
  font-size: 1vw;
  border: 1px solid #6F6F6F;
  padding: 7px;
  background-color: inherit;
  color: #6F6F6F;
}
button.service:hover{
  color: white;
  border-radius: 1px solid white;
}
button.service:focus{
    outline: none;
}
table.buttons{
  transform: translate(3vw,5%);
}
table.icons{
  font-size: 1vw;
  display: inline-block;
  transform: translate(67vw,-110%);
}
table.credit_info{
  position: relative;
  left: 30%;
}
input[type="text"]{
  font-family: 'Roboto';
  visibility: hidden;
  padding: 10px;
  padding-bottom: 2px;
  font-size: 1vw;
  border-radius: 10px;
  border: 1px solid #6F6F6F;
  color:white;
  width: 0vw;
  background-color: inherit;
  transition: 0.8s;
  transform: translate(20px,0px);
}
input[type="text"]:focus{
    outline:none;
}
.lijn{
  margin-top: 10px;
  width: 200%;
  height: 1px;
  background-color: gray;
}
.content{
  position: relative;
  height: 60vh;
  top: -13vw;
  width: 100%;
}
.vid{
  background-color: #141414;
  position: relative;
  margin-top: 0px;
  width: 100vw;
  height: 47vw;
  border: none;
}
/*films*/
.carousel{
  margin-top: -4vh;
}
.carousel-item{
  position: relative;
  left: 2.5vw;
  top: 0;
  padding-top: 3vw;
  height: 13vw;
}
.carousel-control-prev{
  position: absolute;
  left: -12.8vw;
  top: 6vh;
}
.carousel-control-next{
  position: absolute;
  left: 83.5vw;/*moet nog veranderd worden voor de responsive*/
  top: 6vh;
}
.movie{/*image div voor de films*/
  width: 15vw;
  height: 8vw;
  background-color: white;
  background-color: inherit;
  display: inline-block;
  margin-left: 5px;
  transition: 0.3s;
}
.movie:hover{
  transform: scale(1.35,1.35);
}
.film{/*de image*/
  width: 100%;
  height: 100%;
}
.tag{
  color: white;
  font-family: 'Roboto';
  position: relative;
  left: 3vw;
  top: 2vw;
  font-size: 1.5vw;
  font-weight: 500;
}

/*Header*/
.logo{/*Dylflix logo*/
  color:#E50914;
  font-family: 'BebasNeueRegular';
  font-size: 3vw;
  font-weight: 550;
}
.notificatie{
  padding-top: 5%;
  color: white;
  background-color: rgba(0,0,0,0.8);
  font-family: 'Roboto';
  visibility: hidden;
  transition: 0.8s;
  position: absolute;
  border: 1px solid #DCDCDC;
  height: 0vh;
  width: 80%;
  overflow-x: hidden;
  overflow-y: scroll;
  left: 0px;
  top: 120%;
}
.header{
  transition: 0.4s;
  background-color: none;
  width: 100vw;
  height: 4vw;
  position: fixed;
  top: 0;
  right:0;
  z-index: 100;
}
.header_button{/*Header buttons*/
  margin-left: 15px;
  background-color: inherit;
  color: #DCDCDC;
  border:none;
  font-size: 1vw; /*moet nog aangepast worden voor mobile*/
  font-family: 'Roboto';
  transition: 0.3s;
}
.header_button:hover{
  color: white;
  transform: scale(1.1,1.1);
}
.icon{
  transition: 0.3s;
  color: white;
  margin-left: 20px;
}
.search_bar{/*search bar voor de search icon*/
  text-align: right;
  width: 12vw;
  display: inline-block;
}
.image{/*profile pic*/
  height: 2.5vw;
  width: 2.5vw;
  transform: translate(35px,10%);
}
.profiles{
  height: 30%;
  width: 30%;
  transform: translate(15px,0);
}
.acount_{ /*uit schuif div voor het acount*/
  padding-right: 40px;
  border: 1px solid #DCDCDC;
  transition: 0.8s;
  visibility: hidden;
  position: absolute;
  font-family: 'Roboto';
  background-color: rgba(0,0,0,0.8);
  height: 0vh;
  width: 10vw;
  top: 120%;
  overflow:hidden;
}
.ac{
  position: relative;
  text-align: left;
  display: inline-block;
  width: 70%;
  font-size: 1.2vw;
  color: white;
  left: 40%;
}
.ac:hover{
  text-decoration: underline;
}
.een{
  position: relative;
  width: 100%;
}
.naam{
  position: relative;
  left: 50%;
  top: -8%;
  color: white;
  font-family: 'Roboto';
}
.naam:hover{
  cursor: context-menu;
  text-decoration: underline;
}
.fa-2x{
  font-size: 2vw;
}

/*Featured*/
.featured{
  position: relative;
  padding: 5vw;
  height: 80vh;
}
.featured_layer{
  background: linear-gradient(180deg, rgba(20,20,20,0.5) 7%, rgba(31,30,30,0.5) 51%, rgba(20,20,20,0.5) 93%);
  top: 0;
  left: 0;
  z-index: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}
.image_groot{
  position: absolute;
  left: 5%;
  top: 25%;
  z-index: 20;
  height: 50%;
  width: 50%;
}
.naam_film{
  position: absolute;
  left: 57%;
  top: 25%;
  z-index: 30;
  color: white;
  font-size: 4vw;
  font-weight:600;
  font-family: 'Roboto';
  text-shadow: rgba(0,0,0,0.5) 0px 3px 3px;
}
.buttons_{
  position: relative;
  top: 50%;
  left: 60%;
  z-index: 20;
}
button.play{
  margin-left: 0.3vw;
  height: 3vw;
  width: 10vw;
  border-radius: 0.3vw;
  font-family: 'Roboto';
  color: white;
  font-size: 1.2vw;
  border:none;
  transition: 0.3s;
  background-color: rgba(40,40,40,0.7)
}
button.play:hover{
  transform: scale(1.05,1.05);
  color: black;
  background-color: white;
}
.stuk{
  height: 75px;
  width: 100%;
}
.nog{
  display: inline-block;
  position: absolute;
  left: 20px;
  height: 75px;
  width: 100px;
}
.text{
  font-size: 1.2vw;
  width: 300px;
  float: left;
  position: relative;
  left: 50%;
  top: 10px;
}

/*footer*/
.t:hover{
  transform: scale(1.15,1.15);
}
.credit{
  position: absolute;
  margin-top: 2vh;
  left: 50%;
  transform: translate(-50%);
  width: 100vw;
  height: 400px;
  background-color: inherit;
}
.social{
  font-size: 0.9vw;
  text-align: center;
}
.info{
  margin-top: 40px;
  display: inline-block;
  color: #6F6F6F;
  font-family:'Roboto';
  font-size: 1.1vw;
}
.cop{
  font-family: 'Roboto';
  font-size: 1vw;
  color: #6F6F6F;
  margin-top: 25px;
  transform: translate(26.5vw,0px);
}
